<h2>BMFFL Owners</h2>

<ul>
<% @owners.each do |owner| %>
  <li><%= link_to(owner) do %>
    <%= owner.first_name %> <%= owner.last_name %> -
  <% end %>
  </li>
  (<%= owner.over_500("All") %>)
<% end %>
