/*.black-bg {
  border: 3px solid black;
}
*/

.pad-top {
  padding-top: 20px;
}

body {
  background-color: #F6F6F6;
}

header {
  height: 125px;
  padding: none;
}

h1 {
  font-size: 5em;
  color: black;
  padding-left: 15px;
}

h1 a {
  text-decoration: none;
  color: black;
}

h1:hover {
  text-decoration: none;
  text-transform: none;
}

/*.nav {
  margin: auto;
  display: inline-block;
  text-align: center;
}*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-weight: bold;
  background-color: #00E500;
  color: black;
}

.navbar .navbar-collapse {
  text-align: center;
  background-color: #00E500;
}

.navbar-nav>li {
  display: inline-block;
  float:none;
}

li {
  color: black;
}

a {
  color: black;
}

.ul-list {
  list-style-type: none;
  font-size: 1.5em;
}

table {
  margin-top: 20px;

}

.heading {
  font-size: 1.5em;
}

.image {
  float: left;
  height: 125px;
}

ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.list-group-item {
  float: left;
}

.tab {
  padding-left: 10px;
  padding-right: 10px;
  color: #000000;
}

.user-tab {
  padding-left: 200px;
  padding-right: 10px;
  float: right;
  text-indent: right;
  color: black;
}

.h125 {
  height: 125px;
}

.minus-top {
  margin-top: -72px;
}

.loss {
  color: red;
}

.tie {
  color: blue;
}

#scoreboard {
  list-style-type: none;
  display: inline;
  padding-left: 80px;
}

.scoreboard-top {
  width: 20%;
  height: 125px;
}

.game-date {
  float: left;
  width: 100%;
  padding: 0px 0px 0px 14px;
}

.team-name {
  margin: 0px;
  font-weight: bold;
  font-size: 1.2em;
  float: left;
  width: 60%;
}

.team-score {
  float: right;
  width: 40%;
  font-size: 1.2em;
  /*border: 2px solid black;*/
}

#polls {
  list-style-type: none;
}

.polls-right {
  width: 100%;
  margin-bottom: 10px;
}

.team-name-polls {
  margin: 0px;
  font-weight: bold;
  font-size: 1.2em;
  float: left;
}

footer {
  margin-top: 20px;
  color: black;
  background-color: #00E500;
  padding: 5px 0px 5px 0px;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-text {
  text-align: center;
}

#team-list {
  padding-top: 20px;
  -moz-column-count: 3;
  -moz-column-gap: 55px;
  -webkit-column-count: 3;
  -webkit-column-gap: 55px;
  column-count: 3;
  column-gap: 55px;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {/* .push must be the same height as .footer */
}