/*.black-bg {
  border: 3px solid black;
}*/


/*
 *= require rails_bootstrap_forms
 */

.pad-top {
  padding-top: 20px;
}


html {
  margin:0;
  padding:0;
  height:100%;
}

body {
  margin:0;
  padding:0;
  height:100%;
  background-color: #F6F6F6;
  /*font: 'Helvetica Neue', helvetica, arial, sans-serif;*/
  font-size: 1.25em;
}

#wrapper {
  /*width: 1232px;*/
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.navbar .navbar-nav {
  display: inline-block;
  float: left;
  vertical-align: top;
  font-weight: bold;
  background-color: #00E500;
  color: black;
  padding-left: 60px;
}



.navbar .navbar-collapse {
  text-align: center;
  background-color: #00E500;
}

.navbar-nav>li {
  display: inline-block;
  float:none;
}

li {
  color: black;
}

a {
  color: black;
}

.ul-list {
  list-style-type: none;
  font-size: 1.5em;
}

table {
  margin-top: 20px;

}

.heading {
  font-size: 1.5em;
}

.image {
  float: left;
  height: 125px;
  width: 15%;
}

ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}


.list-group-item {
  float: right;
}

.tab {
  padding-left: 10px;
  padding-right: 10px;
  color: #000000;
}

.user-tab {
  padding-left: 180px;
  padding-right: 10px;
  float: right;
  text-indent: right;
  color: black;
}

.h125 {
  height: 125px;
}

.minus-top {
  margin-top: -72px;
}

.loss {
  color: red;
}

.tie {
  color: blue;
}

#scoreboard {
  list-style-type: none;
  display: inline;
  padding: 0px;
  margin: 0px;
}

.scoreboard-top {
  width: 19%;
  height: 125px;
}

.game-date {
  float: left;
  width: 100%;
  padding: 0px 0px 0px 14px;
}

.team-name {
  margin: 0px;
  font-weight: bold;
  font-size: 1.2em;
  float: left;
  width: 60%;
}

.team-score {
  float: right;
  width: 40%;
  font-size: 1.2em;
  /*border: 2px solid black;*/
}

#polls {
  list-style-type: none;
}

.polls-right {
  width: 100%;
  margin-bottom: 10px;
}

.team-name-polls {
  margin: 0px;
  font-weight: bold;
  font-size: 1.2em;
  float: left;
}

#footer {
  margin-top: 20px;
  color: black;
  background-color: #00E500;
  padding: 5px 0px 5px 0px;
}

.footer-text {
  text-align: center;
}

#team-list {
  padding-top: 20px;
  -moz-column-count: 3;
  -moz-column-gap: 55px;
  -webkit-column-count: 3;
  -webkit-column-gap: 55px;
  column-count: 3;
  column-gap: 55px;
}

#header {
  background: #ededed;
  margin-bottom: -20px;
  padding-right: -20px;
}
#content {
  padding-bottom: 100px; /* Height of the footer element */
}

#footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#contact {
  padding: 0px 100px 0px 100px;
}

.contact-info {
  margin-bottom: 20px;
}

.no-pad {
  margin-bottom: 0px;
}

.red {
  color: red;
}

.center {
  text-align: center;
}

.teams-form {
  margin: auto;
}

.games-table {

}

.h2h-results {
  margin-top: 20px;
  padding-top: 20px;
}

.green {
  color: #00E500;
}

.large {
  font-size: 1.75em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.owner-one {
    position: relative;
    display: inline-block;
    margin-left: 300px;
}

.owner-two {
    position: absolute;
    margin-left:40px;
}

.c-s {
  width: 150px;
}


/*body {
  background: #fafafa url(http://jackrugile.com/images/misc/noise-diagonal.png);
  color: #444;
  font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
}*/

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 30px auto;
  text-align: left;
  width: 800px;
}

th {
  background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
  border-left: 1px solid #555;
  border-right: 1px solid #777;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;
}

th:after {
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
  content: '';
  display: block;
  height: 25%;
  left: 0;
  margin: 1px 0 0 0;
  position: absolute;
  top: 25%;
  width: 100%;
}

th:first-child {
  border-left: 1px solid #777;
  box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
  box-shadow: inset -1px 1px 0 #999;
}

td {
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
  transition: all 300ms;
}

td:first-child {
  box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
  border-right: 1px solid #e8e8e8;
  box-shadow: inset -1px 0 0 #fff;
}

tr {
  background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:nth-child(odd) td {
  background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
}

/*tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}*/
