<div class="center">
  <h2>Bowery Times</h2>

  <p>The BMFFL is currently in negotiations with the Bowery Times, Inc. to acquire the rights to its publications. We thank you for your patience during this time.</p>
</div>