<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
        <h3>Login to your account!</h3>

        <%= bootstrap_form_tag url: '/session' do |f| %>
            <%= f.email_field :email, { :class => 'form-field' } %>
            <%= f.password_field :password, { :class => 'form-field' } %>
            <%= f.submit "Login", { :class => 'btn btn-primary' } %>
        <% end %>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
</div>