<div id="contact">
  <h2>Contact Us - We would love to hear from you!</h2>

  <p><strong>Give us a call, fax, or drop us an email. We are always here to provide the most information about the BMFFL to our owners and fans.</strong></p>

  <div class="contact-info">
    <p class="no-pad"><strong>Corporate Office</strong></p class="no-pad">
    <p class="no-pad">817 Bowery St.</p>
    <p class="no-pad">Iowa City, IA 52240</p>
    <p class="no-pad">Office Hours: 9am-5pm M-F, 10am-4pm Sat</p>
    <p class="no-pad">Phone: 319-DA-BMFFL | Fax: 319-FAX-BMFFL</p>
    <p class="no-pad">Email: bmffl@gmail.com</p>
  </div>

  <div class="contact-info">
    <p class="no-pad"><strong>Office of the Commissioner</strong></p class="no-pad">
    <p class="no-pad">Office Hours: 9am-5pm M-F</p>
    <p class="no-pad">Phone: 319-BMFFL-CM | Fax: 319-FAX-BMFC</p>
    <p class="no-pad">Email: bmffl_commish@gmail.com</p>
  </div>

  <div class="contact-info">
    <p class="no-pad"><strong>Office of League Statistics</strong></p class="no-pad">
    <p class="no-pad">Office Hours: 9am-5pm M-F</p>
    <p class="no-pad">Phone: 319-BMFFL-ST | Fax: 319-FAX-BMFS</p>
    <p class="no-pad">Email: bmffl_stats@gmail.com</p>
  </div>

  <div class="contact-info">
    <p class="no-pad"><strong>Office of Media Contact</strong></p class="no-pad">
    <p class="no-pad">Office Hours: 9am-5pm M-F</p>
    <p class="no-pad">Phone: 319-BMFFL-MD | Fax: 319-FAX-BMFM</p>
    <p class="no-pad">Email: bmffl_media@gmail.com</p>
  </div>

</div>